gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

# Adding gradle.properties because of changes regarding the JDK version.
# Android Studio 2024.3 ships with JDK 21, which is incompatible with the required gradle 7.6.1
gradle.properties